[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserial = "*"
pyqt5 = "*"
qtmodern = "*"
pyyaml = "*"
pydantic = "*"
pydantic-yaml = "*"
pytest = "*"
pytest-qt = "*"
pytest-coverage = "*"

[dev-packages]

[requires]
python_version = "3.12"
